<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <title>{{title}}</title>
  </head>
  <body>
  <header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/" class="nav-link px-2 text-white">홈</a></li>
          <li><a href="/about" class="nav-link px-2 text-white">오늘의 할 일 이란?</a></li>
          <li><a href="/list" class="nav-link px-2 text-white">목록</a></li>
          <li><a href="/write" class="nav-link px-2 text-white">할 일 적기</a></li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
          <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="검색..." aria-label="Search">
        </form>

        <div class="text-end">
          <button type="button" class="btn btn-outline-light me-2" onclick="location.href='/login'">로그인</button>
          <button type="button" class="btn btn-warning">회원가입</button>
        </div>
      </div>
    </div>
  </header>

    {% block content %}
    {% endblock %}


    {% block script %}
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    {% endblock %}
  </body>
</html>