<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <title>{{title}}</title>
  </head>
  <body>
    {% if user === undefined %}
    <header class="p-3 text-bg-dark">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/" class="nav-link px-2 text-white">홈</a></li>
            <li><a href="/about" class="nav-link px-2 text-white">오늘의 할 일 이란?</a></li>
            <li><a href="/list" class="nav-link px-2 text-white">목록</a></li>
            <li><a href="/write" class="nav-link px-2 text-white">할 일 적기</a></li>
          </ul>

          <div class="text-end">
            <button type="button" class="btn btn-outline-light me-2" onclick="location.href='/login'">로그인</button>
            <button type="button" class="btn btn-warning" onclick="location.href='/join'">회원가입</button>
          </div>
        </div>
      </div>
    </header>
    {% elif user !== undefined %}
    <header class="p-3 text-bg-dark">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/" class="nav-link px-2 text-white">홈</a></li>
            <li><a href="/about" class="nav-link px-2 text-white">오늘의 할 일 이란?</a></li>
            <li><a href="/list" class="nav-link px-2 text-white">목록</a></li>
            <li><a href="/write" class="nav-link px-2 text-white">할 일 적기</a></li>
          </ul>

          <div class="dropdown text-end">
            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="" alt="mdo" width="32" height="32" class="rounded-circle">
            </a>
            <ul class="dropdown-menu text-small">
              <li><a class="dropdown-item" href="#">설정</a></li>
              <li><a class="dropdown-item" href="/mypage">마이페이지</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/logout">로그아웃</a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>
    {% endif %}

    {% block content %}
    {% endblock %}


    {% block script %}
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>