{% extends './layouts/layout.njk' %}

{% block content %}
<div class="container">
<div class="p-5 mb-5 bg-light rounded-3">
  <h1 class="display-5 mb-3">목록</h1>
  {% for i in post %}
  <div class="list-group w-auto">
    <label class="list-group-item">
        <small>
          {{i._id}})
        </small>
        <strong>제목: {{i.title}}</strong>
        <small class="d-block text-muted">
          기한: {{i.date}}
        </small>
    </label>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end py-3">
      <button class="btn btn-outline-secondary me-md-2" data-bs-toggle="modal" data-bs-target="#detail{{loop.index}} " type="button">자세히 보기</button>
      <button class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#edit{{loop.index}}">수정</button>
      <form action="/list/{{i._id}}?_method=DELETE" method="POST">
        <button class="btn btn-outline-secondary">삭제</button>
      </form>
    </div>

    <div class="modal fade" id="detail{{loop.index}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{i.title}}</h5>
            <small class="d-block text-muted ps-3">{{i.date}}</small>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            {{i.contents}}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="edit{{loop.index}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <form action="/list/{{i._id}}?_method=PUT" method="POST">
          <button type="button" class="btn-close px-3 py-3" style="float: right" data-bs-dismiss="modal" aria-label="Close"></button>
          <div class="modal-header">
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">제목</label>
              <input type="text" class="form-control" placeholder="제목" name="title">
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">기한</label>
              <input type="datetime-local" class="form-control" name="date">
            </div>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label">내용</label>
              <textarea class="form-control" rows="3" placeholder="내용" name="contents"></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">수정하기</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
</div> 
{% endblock %}