{% extends './layouts/layout.njk' %}

{% block content %}
	<div class="p-5 mb-4 bg-light rounded-3">
		<div class="container-fluid py-5">
			<h1 class="display-5 fw-bold">당신의 목표는 무엇인가요?</h1>
			<p class="col-md-8 fs-4">목표를 적고 계획적으로 관리해보세요 !</p>
			<button class="btn btn-primary btn-lg" type="button" onclick="location.href='/page/write'">나의 목표 적기!</button>
		</div>
	</div>
{% endblock %}