{% extends './layouts/layout.njk' %}

{% block content %}
  <div class="container px-4 py-5">
    <h2 class="pb-2 border-bottom">{{userName}}님의 정보</h2>
    <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
      <div class="d-flex flex-column align-items-start gap-2">
        {% if user.imgSrc === "basic" %}
        <img src="/public/img/github.jpg" width="200" height="200">
        {% elif user.imgSrc !== "basic"%}
        <img src={{user.imgSrc}} width="200" height="200">
        {% endif %}
        <button class="btn btn-outline-secondary" onclick="location.href='/page/setting'">설정</button>
      </div>
    </div>    
  </div>
{% endblock %}