{% extends './layouts/layout.njk' %}

{% block content %}
<div class="container">
<div class="p-5 mb-5 bg-light rounded-3">
	<h3 class="mb-5 display-3">할 일 적기</h3>
	<form action="/write" method="POST">
		<div class="mb-5">
			<label for="exampleFormControlInput1" class="form-label">제목</label>
			<input type="text" class="form-control" placeholder="제목" name="title">
		</div>
		<div class="mb-5">
			<label for="exampleFormControlInput1" class="form-label">기한</label>
			<input type="datetime-local" class="form-control" name="date">
		</div>
		<div class="mb-3">
			<label for="exampleFormControlTextarea1" class="form-label">내용</label>
			<textarea class="form-control" rows="3" placeholder="내용" name="contents"></textarea>
		</div>
		<button type="submit" class="btn btn-outline-secondary float-end ">저장</button>
		</div>
	</form>
</div>
</div>
{% endblock %}

